body {
  margin: 0;
}

p {
  font-size: 2em;
  text-align: center;
}

p,
a {
  font-family: 'Open Sans', sans-serif;
  color: rgb(40, 40, 40);
}

a,
a:visited {
  text-decoration: none;
}

.container {
  height: 80vh;
}

.banner {
  display: flex;
  height: 600px;
  /* background: url(images/cover.jpg); */
  background-size: cover;
  justify-content: center;
}

.logo {
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  margin: 180px 0;
  width: 800px;
}

.logo img {
  margin: 0 auto;
  width: 500px;
}

/* ----- Gradient div ----- */

.gradient {
  height: 40vh;
  background: rgb(255, 255, 255); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    rgb(255, 255, 255),
    rgb(255, 237, 157)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    rgb(255, 255, 255),
    rgb(255, 237, 157)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* ----- Navigation div ----- */

.nav {
  text-align: center;
}
.nav a {
  font-family: 'Major Mono Display', monospace;
  font-size: 2.5em;
  padding: 0 40px;
}

/* ----- Profile div ----- */

.profile {
  padding-top: 200px;
  background-color: rgb(255, 237, 157);
  height: 100%;
}

.content {
  padding: 0 40px;
}

p#disclaimer {
  font-size: 1em;
  letter-spacing: 2px;
}

/* ----- Older iPhones ----- */

@media only screen and (min-width: 320px) and (max-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .banner {
    height: 60vh;
  }

  .logo {
    width: 100%;
    margin: 150px 0;
  }

  .logo img {
    width: 250px;
  }

  .nav a {
    font-size: 1.2em;
    padding: 0 20px;
  }

  .gradient {
    height: 20vh;
  }

  p {
    font-size: 1.2em;
  }

  p#disclaimer {
    letter-spacing: 0;
    font-size: 0.8em;
  }
}

/* ----- iPhone X  ----- */

@media only screen and (min-width: 375px) and (max-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .banner {
    height: 60vh;
  }

  .logo {
    width: 100%;
    margin: 150px 0;
  }

  .logo img {
    width: 300px;
  }

  .nav a {
    font-size: 1.5em;
    padding: 0 20px;
  }

  .gradient {
    height: 20vh;
  }

  p {
    font-size: 1.5em;
  }

  p#disclaimer {
    letter-spacing: 0;
  }
}
