body {
  margin: 0;
}

.banner {
  display: flex;
  height: 600px;
  background: url(cover.jpg);
  background-size: cover;
  justify-content: center;
}

.logo {
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  margin: 180px 0;
  width: 800px;
}

.logo img {
  margin: 0 auto;
  width: 500px;
}

/* ----- iPhone X  ----- */

@media only screen and (min-width: 375px) and (max-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .banner {
    height: 60vh;
  }

  .logo {
    width: 100%;
    margin: 150px 0;
  }

  .logo img {
    width: 300px;
  }
}
