body {
  margin: 0;
  background-color: rgb(80, 162, 255);
}

p {
  font-size: 2em;
  text-align: center;
}

p,
a {
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Rubik', sans-serif;
  color: rgb(40, 40, 40);
}

a,
a:visited {
  text-decoration: none;
}

.container {
  height: 100vh;
}

.banner {
  display: flex;
  height: inherit;
  /* background: url(images/cover.jpg); */
  background-size: cover;
  justify-content: center;
}

.logo {
  /* background-color: rgba(255, 255, 255, 0.6); */
  display: flex;
  margin-top: 130px;
  margin-bottom: 210px;
  /* width: 800px; */
}

.logo img {
  margin: 0 auto;
  width: 900px;
}

/* ----- Navigation div ----- */

.nav {
  display: flex;
  padding: 20px 20px;
}

.navlinks {
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
}

.navlinks a {
  font-size: 2.5em;
  letter-spacing: 1.2px;
  padding: 0 20px;
}

.navlinks a:hover,
a:hover {
  color: rgb(70, 70, 70);
}

/* ----- Profile div ----- */

.profile {
  padding-top: 50px;
  padding-bottom: 200px;
}

.content {
  padding: 0 40px;
  margin: auto;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

div#section1,
div#section2,
div#section3 {
  display: flex;
}

div#section2 {
  flex-direction: row-reverse;
}

div.content > div#section1 > img,
div.content > div#section2 > img,
div.content > div#section3 > img {
  flex: 1;
  width: 30%;
  /* height: 30%; */
}

div.content > div#section1 > p,
div.content > div#section2 > p,
div.content > div#section3 > p {
  flex: 1;
  font-size: 1.5em;
  margin: auto 0;
  padding: 0 30px;
}

/* ----- Older iPhones ----- */

@media only screen and (min-width: 320px) and (max-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .banner {
    height: 60vh;
  }

  .logo {
    width: 100%;
    margin: 150px 0;
  }

  .logo img {
    width: 250px;
  }

  .nav a {
    font-size: 1.2em;
    padding: 0 20px;
  }

  .gradient {
    height: 20vh;
  }

  p {
    font-size: 1.2em;
  }

  p#disclaimer {
    letter-spacing: 0;
    font-size: 0.8em;
  }
}

/* ----- iPhone X  ----- */

@media only screen and (min-width: 375px) and (max-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .banner {
    height: 60vh;
  }

  .logo {
    width: 100%;
    margin: 150px 0;
  }

  .logo img {
    width: 300px;
  }

  .nav a {
    font-size: 1.5em;
    padding: 0 20px;
  }

  .gradient {
    height: 20vh;
  }

  p {
    font-size: 1.5em;
  }

  p#disclaimer {
    letter-spacing: 0;
  }
}
